.Rooms_ul {
    position: relative;
    /* bottom: 50px; */
    z-index: 3px;
    max-width: 100%;
}
/* Need to make form have padding of 30% left/right and remove left/right margin from 
fieldset. That way eeeeverything within the form including AvailableRooms is same width */

.Rooms_ul option{
    border: 2px solid black;
    color: red;
    /* list-style-type: none; */
    
}

/* li {
    display: inline-block;
    margin: 5px;
} */